SPRING_PROFILES_ACTIVE=docker

DB_HOST=global_postgres_db
DB_PORT=5432
DB_NAME=pikudo_db
DB_USERNAME=pikudo_app
DB_PASSWORD=change_me_docker

JWT_SECRET=change_me_docker_jwt_secret_at_least_32_chars
JWT_EXPIRATION=86400000
REFRESH_TOKEN_EXPIRATION=604800000
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost:1420
OPENAPI_ENABLED=true

ADMIN_SEED_ENABLED=false
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_NOMBRE=
ADMIN_APELLIDO=
ADMIN_DNI=
ADMIN_TELEFONO=

REDIS_HOST=redis
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
SUNAT_API_URL=https://api.apis.net.pe/v2/sunat/ruc?numero=
APP_LOG_LEVEL=INFO
JPA_SHOW_SQL=false
JPA_FORMAT_SQL=false
