# --- Backend (Java/Spring) ---
target/
.mvn/
.settings/
.classpath
.project
.idea/
*.class
*.jar
*.war

# --- Frontend (Angular) ---
node_modules/
dist/
.angular/
.sass-cache/
.vscode/
coverage/

# --- Otros ---
.DS_Store
Thumbs.db